<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarineData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="FirefoxLocation" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <add key="SaveLocation" value="C:\saves\"/>    
  </appSettings>
  <userSettings>
    <MarineData.Properties.Settings>
      <setting name="FirefoxLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="retryCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="sleepTime" serializeAs="String">
        <value>1200</value>
      </setting>
    </MarineData.Properties.Settings>
  </userSettings>
</configuration>
